@model dynamic

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div>
        <label for="username">Username:</label>
        @Html.TextBox("username")
    </div>

    <div>
        <label for="password">Password:</label>
        @Html.Password("password")
    </div>

    <input type="submit" value="Login" />
}

<p>@ViewBag.ErrorMessage</p>
